.feature-slide {
  background-image: linear-gradient(#F7F8FA, #fff);
}
.features-slide-img-container {
  position: relative;
  transition: transform ease-in-out .5s;
  @media only screen and (max-width: 800px) {
    padding-bottom: 30px;
    height: 100%;
  }
  height: 400px;
  &-content {
    @media only screen and (max-width: 800px) {
      flex-direction: column;
      overflow-x: hidden;
      position: relative;
    }
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex !important;
    justify-content: flex-start;
    &-img {
      align-self: center;
      & > img {
        @media only screen and (max-width: 800px) {
          width: 80%;
          margin: 0 auto;
          margin-top: 30px;
        }
        width: 350px;
      }
    }
    &-text {
      @media only screen and (max-width: 800px) {
        padding: 0;
        text-align: center;
        padding-top: 20px;
        padding-left: 0 !important;
        width: 95%;
      }
      width: 500px;
      align-self: center;
      padding-left: 80px;
      & > p:first-child {
        @media only screen and (max-width: 1371px) {
          font-size: 30px;
        }
        font-size: 35px;
        font-weight: 500;
      }
      & > p:last-child {
        font-size: 18px;
        font-weight: 100;
        padding-top: 10px;
        color: $text-color;
      }
    }
  }
}

.features-slide-img-container .slick-dots {
  @media only screen and (max-width: 800px) {
    margin-bottom: -15px;
  }
}

.feature-slide {
  position: relative;
}

.feature-slider-container-arrows {
  @media only screen and (max-width: 800px) {
    display: none;
  }
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  &-left {
    border-top: 2px solid #25719D;
    border-left: 2px solid #25719D;
    transform: rotate(-45deg);
    position: absolute;
    top: 40%;
    left: 5%;
    width: 60px;
    height: 60px;
  }
  &-right {
    border-top: 2px solid #25719D;
    border-left: 2px solid #25719D;
    transform: rotate(135deg);
    position: absolute;
    top: 40%;
    right: 5%;
    width: 60px;
    height: 60px;
  }
}