.features-icon-container {
    & > ul {
      @media only screen and (max-width: 800px) {
        flex-direction: column;
      }
        padding-top: 80px;
        display: flex;
        justify-content: space-around;
        list-style: none;
        @media only screen and (max-width: 1435px) {
            width: 120%;
            margin-left: -10%;
          }
          @media only screen and (max-width: 1214px) {
            width: 140%;
            margin-left: -20%;
          }
          @media only screen and (max-width: 1050px) {
            width: 160% !important;
            margin-left: -28%;
          }
          @media only screen and (max-width: 885px) {
            width: 180% !important;
            margin-left: -40%;
          }
        width: 100%;
        & > li {
          @media only screen and (max-width: 800px) {
            width: 100%;
            margin-bottom: 25px;
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 3px 7px 0px rgba(18, 102, 150, 0.35);
          }
            text-align: center;
            width: 125px;
            & > img {
              @media only screen and (max-width: 800px) {
                padding-top: 20px;
                padding-bottom: 5px;
              }
                padding-bottom: 30px;
            }
            & > p {
              @media only screen and (max-width: 800px) {
                padding-top: 5px;
                padding-bottom: 20px;
              }
                padding-top: 30px;
                font-size: 14px;
                font-weight: 100;
            }
        }
    }
}
