footer {
    background-color: #013f62;
}
.footer-container {
    @include centered;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 50px;
    &-mobile {
        @media only screen and (min-width: 800px) {
            display: none;
        }
        @media only screen and (max-width: 800px) {
            display: block;
            margin: 0 auto;
        }
    }
    &-logos {
        @media only screen and (max-width: 801px) {
            display: none;
        }
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        & img {
            &:last-child {
                margin-top: 40px;
            }
        }
    }
    
    &-list {
        @media only screen and (max-width: 800px) {
            display: none;
        }
        display: flex;
        align-self: flex-end;
        margin-bottom: 30px;
        & > ul {
            color: #fff;
            margin-left: 70px;
            &:last-child {
                margin-right: 0;
            }
        }
        & > ul >li{
            margin-top: 15px;
            font-size: 14px;
            font-weight: 100;
            color: #ace1ff;
            & > a {
                text-decoration: none;
                color: #ace1ff;
                &:visited {
                    color: #ace1ff;
                }
            }
        }
    }
}
.footer-end {
    @media only screen and (max-width: 800px) {
        text-align: center;
    }
    background-color: #105c87;
    height: 65px;
    &-inner {
        @include centered;
        padding-top: 30px;
        color: white;
        font-weight: 100;
        font-size: 14px;
    }
}