header {
    @media only screen and (max-width: 800px) {
        padding-top: 70px;
        padding-bottom: 15px;
        background-color: #ebebeb;
      }
}
.inner-container {
    display: flex;
    justify-content: space-between;
    @include centered;
    &-left > img {
        @media only screen and (max-width: 800px) {
            width: 100%;
            height: auto;
          }
        height: 80px;
    }
    &-right {
        display: flex;
        align-items: center;
        & > img {
            margin-left: 40px;
        }
        & > span {
            @media only screen and (max-width: 800px) {
                display: none;
              }
            font-weight: 300;
            font-size: 18px;
            color: $text-color;
        }
    }
    .user {
        @media only screen and (max-width: 800px) {
            display: none;
          }
    }
}

