.industry-container {
    padding-top: 80px;
    &-title {
        @include centered;
        text-align: center;
        & > h3 {
            color: $primary-color;
        }
        & > span {
            font-size: 14px;
            font-weight: 100;
            margin-top: 20px;
            display: block;
            line-height: 25px;
            margin-bottom: 100px;
        }
    }
    &-slide {
        display: flex;
        padding-bottom: 80px;
        &-item {
            @media only screen and (max-width: 500px) {
                margin-right: 0;
                border-radius: 0;
              }
            height: 300px;
            width: 500px;
            border-radius: 15px;
            margin-right: 20px;
            position: relative;
            & > img {
                @media only screen and (max-width: 500px) {
                    border-radius: 0;
                  }
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 15px;
                filter: blur(3px);
            }
            & > span {
                position: absolute;
                top: 30px;
                left: 50px;
                text-align: center;
                color: #fff;
                font-weight: 100;
            }
            & > button {
                bottom: 30px;
                right: 30px;
                position: absolute;
                background-color: $button-color;
                border: none;
                border-radius: 10px;
                padding: 20px 25px;
                font-size: 18px;
                outline: none;
                filter: blur(2px);
            }
            .overlay {
                @media only screen and (max-width: 500px) {
                    border-radius: 0;
                }
                position: absolute;
                border-radius: 15px;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: .4;
            }
        }
    }
}