.intro-container {
  @media only screen and (max-width: 800px) {
    position: relative;
    background-image: url('../img/headerbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100% !important;
    margin-top: 0;
    padding-top: 80px;
    height: 600px;
    display: flex;
    flex-direction: column;
   }
  @include centered;
  margin-top: 80px;
  text-align: center;
  &-bold {
    @media only screen and (max-width: 800px) {
      padding: 0 10px;
    }
    font-size: 48px;
    font-weight: 500;
    color: $primary-color;
  }
  &-regular {
    color: rgb(77, 77, 77);
    font-weight: 300;
    font-size: 36px;
    line-height: 30px;
  }
  &-light {
    @media only screen and (max-width: 800px) {
      display: none;
     }
    color: $text-color;
    font-weight: 100;
    font-size: 18px;
    margin-top: 30px;
  }
}
.headerbg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  @media only screen and (max-width: 800px) {
    display: block;
    &-inner {
      @include centered;
      height: 100%;
      display: flex;
      flex-direction: column;
      & > span {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        font-weight: 300;
        padding: 15px 0;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 20px 0px rgba(35, 31, 32, 0.2);
        margin-bottom: 10px;
      }
      & > span:last-child {
        background-color: $button-color;
        color: #fff;
      }
    }
  }
  display: none; 
}
.light {
  @media only screen and (max-width: 800px) {
    display: block;
    text-align: center;
    padding: 0 10px;
    height: 220px;
    background-image: url('../img/polygonmini.png');
    background-repeat: no-repeat;
    background-position: 0 -50px;
    background-size: cover;
    color: $text-color;
    font-weight: 300;
   }
  display: none;

}
