.intro-container {
  @media only screen and (max-width: 800px) {
    position: relative;
    background-image: url('../img/headerbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100% !important;
    margin-top: 0;
    padding-top: 80px;
    height: 600px;
    display: flex;
    flex-direction: column;
   }
  @include centered;
  margin-top: 80px;
  text-align: center;
  &-bold {
    @media only screen and (max-width: 800px) {
      padding: 20px 0;
      font-size: 25px;
    }
    font-size: 48px;
    font-weight: 500;
    color: $primary-color;
  }
  &-regular {
    @media only screen and (max-width: 800px) {
      font-size: 18px;
      font-weight: bold;
      line-height: 25px;
    }
    color: rgb(77, 77, 77);
    font-weight: 300;
    font-size: 36px;
    line-height: 30px;
  }
  &-light {
    @media only screen and (max-width: 800px) {
      display: none;
     }
    color: $text-color;
    font-weight: 100;
    font-size: 18px;
    margin-top: 30px;
  }
}
.headerbg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  @media only screen and (max-width: 800px) {
    display: block;
    &-inner {
      @include centered;
      height: 100%;
      display: flex;
      flex-direction: column;
      &-input {
        font-family: inherit;
        margin: 0 auto;
        width: 100%;
        font-size: 18px;
        text-align: center;
        font-weight: 100;
        padding: 15px 0;
        border-radius: 5px;
        margin-bottom: 10px;
        outline: none;
        border: none;
      }
      & > span {
        background-color: $button-color;
        color: #fff;
        padding: 15px 0;
        border-radius: 5px;
        margin-bottom: 20px;
        
      }
    }
  }
  display: none; 
}
.light {
  @media only screen and (max-width: 800px) {
    display: block;
    text-align: center;
    padding-top: 20px;
    height: 220px;
    background-image: url('../img/shapes/polygonmini.png');
    background-repeat: no-repeat;
    background-position: 0 -50px;
    background-size: cover;
    color: $text-color;
    font-weight: 300;
    font-size: 16px;
   }
  display: none;

}
 button {
   cursor: pointer;
 }