@mixin reset-style {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

@mixin centered {
  width: 80%;
  @media only screen and (max-width: 1050px) {
    width: 80%;
  }
  @media only screen and (max-width: 920px) {
    width: 85%;
  }
  @media only screen and (max-width: 885px) {
    width: 88%;
  }
  @media only screen and (max-width: 800px) {
    width: 95%;
  }
  margin: 0 auto;
  @media (min-width: 1200px) {
    width: 1140px;
  }

}

@mixin shadowed {
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.1);
}

body, html {
  @media only screen and (max-width: 800px) {
    overflow-x: hidden !important;
  }
}

.centralized {
  @media only screen and (max-width: 800px) {
    width: 100% !important;
    border: 1px solid red;
    padding-bottom: 30px;
  }
  @include centered;
  overflow: hidden;
}