.modules-container {
        @media only screen and (max-width: 772px) {
        display: none;
      }
    @include centered;
    @include shadowed;
    margin-top: 50px;
    padding-top: 40px;
    & > h3 {
        text-align: center;
        margin-bottom: 50px;
        font-size: 24px;
        font-weight: 500;
    }
    &-text {
        display: flex;
        justify-content: space-between;
        padding: 0 35px 60px 35px;
        & > span {
            width: 47%;
            font-weight: 100;
            line-height: 22px;
            font-size: 16px;
        }
    }
}