.navigation {
    position: absolute;
    top: -100%;
    transition: top .5s ease;
    right: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding: 60px 0 150px 0;
    overflow-y: scroll;
    & > ul > li {
        margin-bottom: 45px;
        color: #52565a;
        cursor: pointer;
        &:hover {
            color: $primary-color;
        }
    }
    & > span {
        position: absolute;
        top: 40px;
        right: 40px;
        cursor: pointer;
    }
}
.nav-menu {
    cursor: pointer;
}
