.phone-container {
    @media only screen and (max-width: 920px) {
        margin-top: 80px;
      }
      @media only screen and (max-width: 800px) {
        margin-top: 0;
      }
    @include centered;
    @media only screen and (max-width: 800px) {
      flex-direction: column;
    }
    display: flex;
    &-image {
      @media only screen and (max-width: 800px) {
        align-self: center;
      }
        display: inline-block;
        & > img {
            @media only screen and (max-width: 1100px) {
                width:  300px;
              }
              @media only screen and (max-width: 978px) {
                margin-top: 40px;
              }
              @media only screen and (max-width: 800px) {
                margin-top: 10px;
              }
        }
    }
    &-text {
        @media only screen and (max-width: 1295px) {
            padding-left: 40px;
            padding-top: 30px;
          }
          @media only screen and (max-width: 800px) {
            padding-left: 0px;
          }
        padding-left: 70px;
        padding-top: 60px;
        &-1 > h2 {
            @media only screen and (max-width: 1295px) {
                font-size: 15px;
              }
              @media only screen and (max-width: 800px) {
                text-align: center;
              }
            color: #293948;
            font-size: 18px;
        }
        &-1 > p {
            padding-top: 20px;
            font-weight: 100;
            font-size: 15px;
            color: $text-color;
            @media only screen and (max-width: 800px) {
              text-align: center;
            }
        }
        &-2 > h2{
            @media only screen and (max-width: 1295px) {
                padding-top: 30px;
                font-size: 14px;
              }
              @media only screen and (max-width: 800px) {
                font-size: 15px;
                text-align: center;
              }
            padding-top: 60px;
            color: #3b5267;
            font-size: 16px;
        }
        &-2 > p{
          @media only screen and (max-width: 800px) {
            font-size: 15px;
            text-align: center;
          }
            padding-top: 20px;
            font-weight: 100;
            font-size: 15px;
            color: $text-color;
        }
    }
    
}