.slick-slide:focus {
  outline: none;
}
.slick-list {
  background-color: #fff;
  border: none;
}

.slick-dots {
  margin-bottom: 80px;
  & > li {
    & > button {
      color: #1c3563;
    }
    & > button:before {
      color: #1c3563;
      font-size: 18px;
    }
    &.slick-active button:before {
      color: #1c3563;
    }
  }
}
