.image-slider-container {
  @media only screen and (max-width: 920px) {
    display: none;
  }
  margin-top: 90px;
  position: relative;
  overflow: hidden;
  width: 100%;
  &-image {
    display: flex;
    overflow: hidden;
    width: 125%;
      margin-left: -15%;

    & > img {
      transform: scale(1.12);
      width: 100%;
      height: 100%;
    }
  }
  &-arrows {
    @media only screen and (max-width: 1283px) {
      right: 20%;
    }
    position: absolute;
    top: 22%;
    right: 20%;
    z-index: 100;
    &-left {
      transform: rotate(180deg);
      margin-right: 60px;
      cursor: pointer;
    }
    &-right {
      cursor: pointer;
    }
  }
  &-text {
    @media only screen and (max-width: 1513px) {
      left: 13%;
    }
    z-index: 100;
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    top: 18%;
    left: 20%;
    color: white;
    @media only screen and (max-width: 1283px) {
      font-size: 18px;
    }
    @media only screen and (max-width: 1100px) {
      font-size: 16px;
    }
    font-weight: bold;
    font-size: 25px;
    & > span {
      font-size: 20px;
      font-weight: 100;
      margin-top: 20px;
      display: block;
    }
  }
}

.overlay {
  position: absolute;
  width: 118%;
  height: 100%;
  border: 1px;
  z-index: 100;
  top: 0;
  left: -30%;
  & > img {
    width: 130%;
    height: 100%;
  }
}
